* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #eae7d1;
}

.container {
    position: relative;
    width: 450px;
    height: 110px;
    background: #756159;
    border-radius: 30px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    padding: 28px 30px;
    transition: 0.8s ease-out;
}

.search-tab {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.search-tab input{
    color: #eae7d1;
    width: 80%;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 500;
    padding-left: 17px;
    background: #756159;
}

.search-tab i{
    font-size: 26px;
    color: #eae7d1;
}

::placeholder{
    color: #eae7d1;
}

.search-tab button{
    font-size: 26px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #eae7d1;
    font-size: 22px;
}

.search-tab button:hover {
    color: #eae7d1;
    background: #101010;
}

.weather-card {
    text-align: center;
}

.weather-card img{
    width: 60%;
    margin-top: 30px;
}

.weather-card .temperature{
    position: relative;
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-card .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-card .description {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-card .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details {
    color: #fff;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.not-found {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-card, .weather-details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to{
        scale: 1;
        opacity: 1;
    }
}